<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>픽데이터</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
<div id="wrap">

        <header>
            <div class="innerheader">
                <!-- logo -->
                <h1 class="logo"><a href="http://127.0.0.1:8050"><img src="./static/images/blogo22222.png" alt="로고"></a></h1>
                <!-- menu -->
                <nav class="gnb fl">
                    <ul>
                        <li><a href="#">전체 데이터</a>
                            <ul class="submenu">
                                <li><a href="http://127.0.0.1:8052/고혈압/">고혈압</a></li>
                                <li><a href="http://127.0.0.1:8052/당뇨/">당뇨</a></li>
                                <li><a href="http://127.0.0.1:8052/고지혈증/">고지혈증</a></li>
                                <li><a href="http://127.0.0.1:8052/빈혈/">빈혈</a></li>
                                <li><a href="http://127.0.0.1:8052/신장/">신장</a></li>
                                <li><a href="http://127.0.0.1:8052/간/">간</a></li>
                            </ul>
                        </li>
                        <li><a href="#">흡연 상태</a>
                            <ul class="submenu">
                                <li><a href="http://127.0.0.1:8053/고혈압/흡연상태/">고혈압</a></li>
                                <li><a href="http://127.0.0.1:8053/당뇨/흡연상태/">당뇨</a></li>
                                <li><a href="http://127.0.0.1:8053/고지혈증/흡연상태/">고지혈증</a></li>
                                <li><a href="http://127.0.0.1:8053/빈혈/흡연상태/">빈혈</a></li>
                                <li><a href="http://127.0.0.1:8053/신장/흡연상태/">신장</a></li>
                                <li><a href="http://127.0.0.1:8053/간/흡연상태/">간</a></li>
                            </ul>
                        </li>
                        <li><a href="#">음주 여부</a>
                            <ul class="submenu">
                                <li><a href="http://127.0.0.1:8054/고혈압/음주여부/">고혈압</a></li>
                                <li><a href="http://127.0.0.1:8054/당뇨/음주여부/">당뇨</a></li>
                                <li><a href="http://127.0.0.1:8054/고지혈증/음주여부/">고지혈증</a></li>
                                <li><a href="http://127.0.0.1:8054/빈혈/음주여부/">빈혈</a></li>
                                <li><a href="http://127.0.0.1:8054/신장/음주여부/">신장</a></li>
                                <li><a href="http://127.0.0.1:8054/간/음주여부/">간</a></li>
                            </ul>
                        </li>
                        <li><a href="#">BMI 단계</a>
                            <ul class="submenu">
                                <li><a href="http://127.0.0.1:8055/고혈압/BMI단계/">고혈압</a></li>
                                <li><a href="http://127.0.0.1:8055/당뇨/BMI단계/">당뇨</a></li>
                                <li><a href="http://127.0.0.1:8055/고지혈증/BMI단계/">고지혈증</a></li>
                                <li><a href="http://127.0.0.1:8055/빈혈/BMI단계/">빈혈</a></li>
                                <li><a href="http://127.0.0.1:8055/신장/BMI단계/">신장</a></li>
                                <li><a href="http://127.0.0.1:8055/간/BMI단계/">간</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="tnb">
                    <ul>
                        <li><a href="#">서비스 구독</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <section class="main">
        <div class="maintitle">
            <h2>
                우리 기업은 효과적인 의료사업 마케팅을 위해<br />
                여러분에게 데이터 분석 자료를 제공하고자 합니다.
            </h2>
            <p>
                데이터 분석을 통한 전략적 마케팅
            </p>
            <!-- 버튼 -->
            <a href="http://127.0.0.1:8051" class="view"> 데이터 보러가기
            </a>
        </div>
    </section>
    <footer>
        <div class="footerInner">
            <!-- 하단로고 -->
            <div class="blogo"><a href="#"><img src="./static/images/blogo999.png" alt="하단로고"></a></div>
            <!-- 주소 -->
            <div class="copyright">
                <p>
                    01234 서울특별시 강남구 논현로 99 픽데이터 빌딩 Copyright 2023 <a href="mailto:pickdata@pickdata.com">  Pick Data. </a> All right reserved.
                </p>
            </div>
            <!-- 하단리스트 -->
            <div class="blist">
                <ul>
                    <li><a href="#">온라인구매시스템</a></li>
                    <li><a href="#">고객문의</a></li>
                    <li><a href="#">뉴스 &#38; 공지사항</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

</body>
</html>